<div class="page-header">
    <h2><%= link_to(glyphicon_span('tasks') + ' ' + @web_form.name, @web_form) %></h2>
    <h2><%= glyphicon_span('console') %> Embed Code</h2>
</div>
<pre>
<%= "<form id='reformation-form' action='#{api_submissions_url(@web_form.id)}' method='post'>" %>
    <%= "<input type='hidden' name='token' value='#{current_user.token}' />" %>
    <%= "<input type='hidden' name='source' value='YOUR-WEBSITE.com' />" %>

    <% @web_form.web_form_fields.each do |field| %>
      <%= embed_input(field) %>
    <% end %>

    <%= "<button id='reformation-submit-btn'>Send</button>" %>
<%= "</form>" %>
</pre>
<div class="btn-group btn-group-justified" role="group">
  <%= btn_group_btn('Delete Form', 'remove', web_form_path(@web_form), '', { method: :delete, data: { confirm: "Are you sure you want to delete #{@web_form.name}?" } }) %>
  <%= btn_group_btn('Edit Form', 'edit', edit_web_form_path(@web_form)) %>
  <%= btn_group_btn('Form Summary', 'tasks', web_form_path(@web_form)) %>
  <%= btn_group_btn("Submissions (#{@web_form.submissions.count})", 'inbox', submissions_path(@web_form), 'btn-reformation') %>
</div>
