<div class="page-header">
    <h2><%= glyphicon_span('tasks') %> <%= @web_form.name %></h2>
    <h3>Form Summary</h3>
</div>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Field</th>
            <th>Required?</th>
        </tr>
    </thead>
    <tbody>
        <%- @web_form.web_form_fields.each do |field| %>
        <tr>
            <td><%= field.id %></td>
            <td><%= field.name %></td>
            <td><%= field.required? ? "Required" : "No" %></td>
        </tr>
        <%- end %>
    </tbody>
</table>
<div class="btn-group btn-group-justified" role="group">
  <%= btn_group_btn('Delete Form', 'remove', web_form_path(@web_form), '', { method: :delete, data: { confirm: "Are you sure you want to delete #{@web_form.name}?" } }) %>
  <%= btn_group_btn('Edit Form', 'edit', edit_web_form_path(@web_form)) %>
  <%= btn_group_btn('Embed Code', 'console', form_embed_path(@web_form)) %>
  <%= btn_group_btn("Submissions (#{@web_form.submissions_count})", 'inbox', submissions_path(@web_form), 'btn-reformation') %>
</div>
