<h2><%= link_to(content_tag(:span, "", class: "glyphicon glyphicon-tasks")+" "+@web_form.name, @web_form) %></h2>
<h3><span class="glyphicon glyphicon-user"></span> <%= @web_form.user.name if @web_form.user_id %></h3>
<h3 style="text-align: center"><span class="glyphicon glyphicon-inbox"></span> Submissions (<%= @web_form.submissions.count %>)</h3>
<table class="table">
    <thead>
        <tr>
            <%- @web_form.web_form_fields.each do |field| %>
            <th><%= field.name %></th>
            <%- end %>
        </tr>
    </thead>
    <tbody>
        <%- @web_form.submissions.each do |submission| %>
        <tr>
            <%- submission.submissions_entries.each do |entry| %>
            <th><%= entry.value %></th>
            <%- end %>
        </tr>
        <%- end %>
    </tbody>
</table>