<h2><%= link_to(content_tag(:span, "", class: "glyphicon glyphicon-tasks")+" "+@web_form.name, @web_form) %></h2>
<h3><span class="glyphicon glyphicon-user"></span> <%= @web_form.user.name if @web_form.user_id %></h3>
<h3 style="text-align: center"><span class="glyphicon glyphicon-inbox"></span> Submissions (<%= @web_form.submissions.count %>)</h3>
<table class="table">
    <thead>
        <tr>
            <%- @web_form.web_form_fields.each do |field| %>
            <th><%= field.name %></th>
            <%- end %>
            <th>Date Created</th>
        </tr>
    </thead>
    <tbody>
        <%- @web_form.submissions.each do |submission| %>
        <tr>
            <%- @web_form.web_form_fields.each do |field| %>
            <td><%= SubmissionsEntry.where(web_form_field_id: field.id, submission_id: submission.id).count > 0 ? SubmissionsEntry.where(web_form_field_id: field.id, submission_id: submission.id).first.value : "-" %></td>
            <%- end %>
            <td><%= submission.created_at.strftime("%B %d, %Y (%a)") %></td>
        </tr>
        <%- end %>
    </tbody>
</table>