<div class="container amicus-container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1>No. 07-18-2020</h1>
      <hr><hr>
      
      <h2>UNITED STATES COURT OF APPEALS<br> FOR THE FOURTH CIRCUIT</h2>
      <p>_________________________</p>
      
      <p>LADY IDOS,</p>
      <p style="font-style: italic">Plaintiff–Appellee,</p>
      
      <p>v.</p>
      
      <p>EUNICE LEE,</p>
      <p style="font-style: italic">Defendant–Appellant.</p>
      <p>_________________________</p>
      
      <p>ON APPEAL FROM THE UNITED STATES DISTRICT COURT FOR THE DISTRICT OF I'M NOT CRYING, YOU'RE CRYING DIVISION</p>
      
      <div style="border-top: 4px double #000; border-bottom: 4px double #000; margin: 3rem 0; padding: 1rem 0;">
        <p>BRIEF OF <span style="font-style: italic">AMICI CURIAE</span> ASSORTED FRIENDS AND FAMILY WHO HAVE BEEN WAITING FOR THIS DAY FOR A LONG TIME IN SUPPORT OF DEFENDANT-APPELLANT</p>
      </div>
      
      <div class="row" style="margin: 3rem 0">
        <% @submissions.each do |submission| %>
          <div class="col-md-4 name-col"><%= submission[:name] %></div>
        <% end %>
      </div>

        <hr>
      
      <div class="brief-body">
        <h2>SUMMARY OF ARGUMENT</h2>
        <p>This case presents an important question about the extent of “something that can make you do wrong&mdash;make you do right. Yeah, hmmm. Love. Love and happiness.” <i>Green</i> (1972). While a case can be made that the Defendant, LEE, is “Smarter than the tricks played on your heart,” <i>Indigo Girls</i> (1994), how can the Plaintiff, IDOS, be sure that she is the one to “Always want to be with you, and make believe with you, and live in harmony, harmony oh love?” <i>Erasure</i> (1994).</p>
        
        <hr>
        
        <h2>ARGUMENT</h2>
        <h3>I. We love you Eunice &mdash; Lady is a lucky... lady!</h3>
        <ol class="tweets">
          <% @submissions.each do |submission| %>
            <li>
              “<%= submission[:tweet] %>” <i><%= submission[:name] %></i> (2020). 
            </li>
          <% end %>
        </ol>
        
        <hr>
        
        <h3>II. Thank you for all the memories, and looking forward to more wonderful times in Arizona!</h3>
      </div>
    </div>
  </div>
</div>
        
<div class="container messages-container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <% @submissions.each do |submission| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <% unless submission[:image].empty? %>
              <div class="media-container">
                <img src="<%= submission[:image] %>">
              </div>
            <% end %>

            <div class="message">
              <% submission[:message].split(/\n/).each do |message_p| %>
                <p><%= message_p %></p>
              <% end %>
            </div>
            <small><%= submission[:name] %></small>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
