<h2>Welcome to Reformation</h2>
<% if logged_in? %>
  <h3><%= current_user.name %> (<%= current_user.email %>)</h3>
  <table class="table home-forms-index">
    <thead>
      <tr>
        <th class="col-md-2">Form</th>
        <th class="col-md-2">Submissions</th>
        <th class="col-md-2">Embed Code</th>
        <th class="col-md-2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.web_forms.each do |form| %>
      <tr>
        <td colspan=4>
          <div class="btn-group btn-group-justified" role="group">
            <%= btn_group_btn(form.name, 'tasks', web_form_path(form), 'btn-highlight') %>
            <%= btn_group_btn("Submissions (#{form.submissions_count})", 'inbox', submissions_path(form), 'btn-reformation') %>
            <%= btn_group_btn('Embed', 'console', form_embed_path(form)) %>
            <%= btn_group_btn('Edit', 'edit', edit_web_form_path(form)) %>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h3>Easy web forms, free.</h3>
  <div class="btn-group btn-group-justified" role="group">
    <%= btn_group_btn('Sign Up', 'edit', signup_path) %>
    <%= btn_group_btn('Login', 'log-in', login_path) %>
  </div>
<% end %>
