            <tr>
                <td><%= current_user?(user) ? link_to(user.name, user_path(user)) : user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.token %></td>
                <td><%= user.token_confirmation %></td>
                <td><%= delete_with_confirm(user) %></td>
            </tr>
