<h2><%= @user.name %>&rsquo;s Profile</h2>
<table class="table">
    <tbody>
        <tr>
            <th>Name:</th>
            <td><%= @user.name %></td>
        </tr>
        <tr>
            <th>Email:</th>
            <td><%= @user.email %></td>
        </tr>
        <tr>
            <th>Token:</th>
            <td><%= @user.token %></td>
        </tr>
        <tr>
            <th>Forms:</th>
            <td><%= @user.web_forms.map(&:name).join("<br />").html_safe %></td>
        </tr>
    </tbody>
</table>
    <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
            <%= link_to "Edit", edit_user_path(current_user), class: "btn btn-default navbar-btn" %>
        </div>
        <div class="btn-group" role="group">
            <%= link_to "New Form", new_web_form_path(user_id: current_user), class: "btn btn-default navbar-btn" %>
        </div>
    </div>
 