<div class="page-header">
    <h2><%= glyphicon_span('user') %> <%= @user.name %></h2>
</div>
<table class="table">
    <thead>
        <tr>
            <th colspan=2>Profile Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Name:</th>
            <td><%= @user.name %></td>
        </tr>
        <tr>
            <th>Email:</th>
            <td><%= @user.email %></td>
        </tr>
        <tr>
            <th>Token:</th>
            <td><%= @user.token %></td>
        </tr>
        <tr>
            <th>Forms:</th>
            <td>
                <div class="btn-group-vertical web-form-list" role="group">
                  <% @user.web_forms.each do |form| %>
			  <%= link_to("#{glyphicon_span('tasks')} #{form.name} (#{form.submissions_count})".html_safe, form, class: 'btn btn-highlight') %>
                  <% end %>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="btn-group btn-group-justified" role="group">
    <%= btn_group_btn('Edit Profile', 'edit', edit_user_path(current_user)) %>
    <%= btn_group_btn('New Form', 'plus', new_web_form_path) %>
</div>
 
