<p>You&rsquo;re almost signed up - just one more thing. Please confirm your token below:</p>
<%= form_for(:session, url: login_path) do |f| %>
<% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |msg| %>
        <div class="alert alert-warning"><%= msg %></div>
    <% end %>
<% end %>
    
    <%= f.hidden_field :email, value: @user.email %>

    <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= f.label :token_confirmation %>
        <%= f.text_field :token_confirmation, class: "form-control" %>
    </div>

    <%= f.submit "Confirm", class: "btn btn-default" %>
<% end %>