<!DOCTYPE html>
<html>
  <head>
    <title>Reformation</title>
    <%= csrf_meta_tags %>
      <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <h1><a href="<%= root_path %>"><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> Reformation</a></h1>
            </div>
        </nav>            
    </header>
    <div class="container main-container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-8 col-md-offset-2">
                        <%= yield %>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </body>
</html>
