<!DOCTYPE html>
<html>
  <head>
    <title>Reformation | <%= page_title(controller) %></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <% if ['share', 'amicus'].include?(controller.action_name) %>
      <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <% end %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= favicon_link_tag 'reformation-favicon.png' %>
    <%= favicon_link_tag 'reformation-favicon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  </head>

  <body>
    <% if ['share', 'amicus'].include?(controller.action_name) %>
      <%= yield %>
    <% else %>
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="col-md-6">
                  <h1>
                    <a href="<%= root_path %>">
                      <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> 
                      Reformation
                    </a>
                  </h1>
                </div>
                <div class="col-md-6">
                    <div class="btn-group btn-group-justified" role="group">
                    <% if logged_in? %>
                      <%= btn_group_btn('All Users', 'user', users_path, 'navbar-btn') if current_user.admin? %>
                      <%= btn_group_btn(current_user.name, 'user', current_user, 'navbar-btn') %>
                      <%= btn_group_btn('Sign Out', 'log-out', logout_path, 'navbar-btn', { method: :delete }) %>
                    <% end %>
                    </div>
                </div>
            </div>
        </nav>            
    </header>
    <div class="container main-container">
        <div class="row">
            <%= tag.div(flash[:notice], class: 'alert alert-info') if flash[:notice] %>
            <%= tag.div(flash[:danger], class: 'alert alert-warning') if flash[:danger] %>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="<%= panel_body_class(controller.action_name) %>">
                        <%= yield %>
                    </div>
                </div>
            </div>
        </div>
      </div>
    <%= javascript_include_tag 'application' %>
  <% end %>
  </body>
</html>
